@import "bootstrap-sprockets";
@import "bootstrap";

.repository-browser-container {

}

.repository-browser {
  overflow-x: scroll;
  overflow-style: auto;
  overflow-y: scroll;
  max-height: 700px;

  > .tree-children {
    padding-left: 0;
  }

  .tree-children {
    list-style: none;
  }

  .selected {
    > .node-name {
      color: $alert-warning-text;
    }
  }
}